body, div, td, p {
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#menu li {
    margin: 2px;
}

#menu li a:link {
    text-decoration: none;
}

#menu li a:hover {
    text-decoration: underline;
}

thead td {
    background-color: #999;
    color: #eee;
    padding: 4px;
}

tbody td {
    text-align: right;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
}

.js_user {
    position: absolute;
    width: 60px;
    /*height: 100px;*/
    text-align: center;
    border: 1px solid #1f8ee6;
    border-bottom: 3px solid #1f8ee6;
    padding: 10px;
}

.js_user_popup {
    margin: 10px;
    padding: 5px;
    background-color: white;
    border: 1px dotted #aaa;
    position: absolute;
    display: none;
    z-index: 100;
}

.a {
    border: 1px solid #daa;
}

.main {
    margin-top: 50px;
    padding: 10px;
}

.receipts_info {
    display: none;
}

.payment_done td {
    color: #aaa;
}
