<html lang="ko">
<head>
  <title>RIDI Corporation</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/js/bower/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/js/bower/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <script src="/js/bower/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <style>
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #eee;
    }

    .form-signin {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }

    .form-signin input[type="text"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>
</head>
<body>
{% block body %}
  <div class="container">

    <div class="form-signin text-center">
      <a href='{{ azure_login }}'>
        <button class="btn btn-primary">
          Login
        </button>
      </a>
      <a href='/users/join'>
        <button class="btn btn-primary">
          Join
        </button>
      </a>
    </div>

  </div> <!-- /container -->
{% endblock %}
</body>
</html>
