<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
</head>
<body>
<h3>PDF 업로드시 주의사항</h3>
<ol>
  <li>이전에 업로드된 파일은 삭제됩니다.</li>
  <li>변경 이력을 위해 별도의 저장소에 백업하시길 바랍니다.</li>
</ol>
<form method="post" enctype="multipart/form-data">
  Select PDF to upload:
  <input type="file" name="fileToUpload" id="fileToUpload" accept="application/pdf">
  <input type="submit" value="Upload" name="submit">
</form>

<p>
  <a href="/organization/chart">조직도 확인하기</a>
</p>

</body>
</html>
