#menu, #admin, #member, .js_user_popup, #receipts_notice, .navbar {
    display: none;
}

.hidden_on_print, .receipts_command {
    display: none;
}

body, div, td, p {
    font-size: 0.6em !important;
}
th {
    font-size: 0.8em !important;
}

h2 {
    font-size: 3em;
}

h4 {
    font-size: 2em;
}

#main {
    margin: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

table.table {
    margin-top: 50px;
    border-top: 3px solid black;
}

table.table th {
    padding: 5px;
    text-align: left;
}

table.table td {
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #dddddd;
}

table.table tr {
    margin: 0;
}
