<html lang="ko">
<head>
  <title>RIDI Corporation</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/js/bower/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/js/bower/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/static/css/style.css?v=1">
</head>

<body class="account-pages">
{% block body %}
    <div class="outer">
      <div class="fader"></div>
      <div class="inner">
        
        <div class="box">
          <img src="/static/img/ridi-logo.png" alt="" class="logo">
          <a href='{{ azure_login }}' class="blue-button">
            로그인
          </a>
          <a href='/users/join' class="sub-link">
            회원가입
          </a>
        </div>

      </div>
    </div><!-- /outer -->
{% endblock %}
</body>
</html>
