{% extends 'ridi.twig' %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/js/react-datetime.css">
    <div id="root"></div>
    <script src="/js/bundle.js"></script>
{% endblock %}
