<!DOCTYPE html>
<html lang="en">
<head>
  <title>RIDI Corporation</title>

  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.css" media="screen"/>
  <link rel="stylesheet" href="/css/screen.css" media="screen"/>
  <link rel="stylesheet" href="/css/print.css" media="print"/>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Cookies.js/0.3.1/cookies.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdn.rawgit.com/genesos/AttrAjax/master/attrajax.js"></script>

  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/jquery.form.js"></script>
  <script type="text/javascript" src="/js/jquery.jeditable.js"></script>
  <script type="text/javascript" src="/js/jquery.tmpl.min.js"></script>
  <script type="text/javascript" src="/js/jquery.number.min.js"></script>
  {% block head %}
  {% endblock %}
</head>
<body>

{% block body_head %}
{% endblock %}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">RIDI</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <nav id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      {% if globalDomain == "ridi.com" %}
        <ul class="nav navbar-nav">
          <li><a href="/posts/notice">공지사항</a></li>
          <li><a href="https://ridicorp.sharepoint.com/intranet/" target="_blank">리디위키</a></li>
          <li><a href="/weekly">전사 주간 업무 요약</a></li>
          <li><a href="/rooms">회의실</a></li>
          <li><a href="/holidays">휴가신청</a></li>
          <li><a href="/payments">결제요청</a></li>
          <li><a href="/receipts">비용정산</a></li>
          <li><a href="http://htms.himgt.net" target="_blank">Payday</a></li>
          <li><a href="/organization/chart" target="_blank">조직도</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://minsoopark.github.io/RIDJ/" target="_blank"><span class="glyphicon glyphicon-cd"></span>
              DJ</a></li>
          <li><a href="http://lunch.ridi.com/" target="_blank"><span class="glyphicon glyphicon-cutlery"></span>
              LUNCH</a></li>
          <li><a href="/usersession/logout">로그아웃 <span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>
      {% else %}
        <ul class="nav navbar-nav">
          <li><a href="/posts/notice">공지사항</a></li>
          <li><a href="/receipts">비용정산</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/usersession/logout">로그아웃 <span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>
      {% endif %}
    </nav>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div style="height: 70px;">
</div>
{% block body %}
{% endblock %}
</body>
</html>
