<html lang="ko">
<head>
  <title>RIDI Corporation</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/screen.css" media="screen"/>
  <link rel="stylesheet" href="/css/print.css" media="print"/>
  <link rel="stylesheet" href="/css/style.css" media="screen"/>
  <link rel="stylesheet" href="/js/bower/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen"/>
  <link rel="stylesheet" href="/js/bower/bower_components/chosen/chosen.css" media="screen"/>
  <link rel="stylesheet" href="/js/bower/bower_components/datatables/media/css/dataTables.bootstrap.min.css">
  <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js"></script>
  <script>
    requirejs.config({
      baseUrl: "/js/bower/bower_components",
      paths: {
        "jquery": "jquery/dist/jquery.min",
        "jquery-ui": "jquery-ui/jquery-ui.min",
        "jquery.attrajax": "jquery.attrajax/jquery.attrajax",
        "jquery.jeditable": "jquery.jeditable/jquery.jeditable",
        "jquery.tmpl": "jquery.tmpl/jquery.tmpl",
        "jquery-form": "jquery-form/jquery.form",
        "jquery-number": "jquery-number/jquery.number.min",
        "jquery.cookie": "jquery.cookie/jquery.cookie",
        "jqueryte": "jqueryte/dist/uncompressed/jquery-te-1.4.0",
        "jquery.fileupload": "blueimp-file-upload/js/jquery.fileupload",
        "chosen": "chosen/chosen.jquery",
        'datatables.net': 'datatables/media/js/jquery.dataTables',
        "bootstrap": "bootstrap/dist/js/bootstrap.min",
        'bootstrap.datatables': 'datatables/media/js/dataTables.bootstrap'
      },
      shim: {
        "jquery-ui": ["jquery"],
        "jquery.attrajax": ["jquery", "jquery-form"],
        "jquery.jeditable": ["jquery"],
        "jquery.tmpl": ["jquery"],
        "jquery-form": ["jquery"],
        "jquery-number": ["jquery"],
        "chosen": ["jquery"],
        "bootstrap": ["jquery"],
        "bootstrap.datatables": ["datatables.net", "bootstrap"],
        "datatables.net": ["jquery"],
        "jquery.cookie": ["jquery"],
        "jqueryte": ["jquery"],
        "jquery.fileupload": ["jquery", "jquery-ui"]
      }
    });

  </script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script>
    var sentry_public_key = '{{ sentryPublicKey }}';
    if (sentry_public_key.length && window.Raven)
      window.Raven.config(sentry_public_key).install();
    requirejs(["bootstrap"], function () {
      //nav var를 위해 강제 호출
    });
  </script>

  {% block head %}
  {% endblock %}
</head>
<body>

{% block body_head %}
{% endblock %}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if globalDomain == "ridi.com" %}
        <a class="navbar-brand" href="/">RIDI <span>INTRANET</span></a>
      {% else %}
        <a class="navbar-brand" href="/">StudioD</a>
      {% endif %}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <nav id="navbar" class="collapse navbar-collapse">
      {% if globalDomain == "ridi.com" %}
        <ul class="nav navbar-nav">
          <li><a href="/users">직원찾기</a></li>
          <li><a href="https://ridicorp.sharepoint.com/intranet/SitePages/%EB%A6%AC%EB%94%94%20%EC%83%9D%ED%99%9C%20%EA%B0%80%EC%9D%B4%EB%93%9C.aspx" target="_blank">리디 생활 가이드</a></li>
          <li><a href="/weekly">전사 주간 업무 요약</a></li>
          <li><a href="/rooms">회의실</a></li>
          <li><a href="/rooms?type=focus">포커스룸</a></li>
          <li><a href="/holidays">휴가신청</a></li>
          <li><a href="/payments">결제요청</a></li>
          <li><a href="/receipts">비용정산</a></li>
          <li><a href="http://htms.himgt.net" target="_blank">급여관리</a></li>
          {% if isPressManager %}
            <li><a href="/press">보도자료 관리</a></li>
          {% endif %}
          <li><a href="/organization/chart" target="_blank">조직도</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if isUserManager %}
            <li><a href="/users/list"><span class="glyphicon glyphicon-list"></span>회원목록</a></li>
          {% endif %}
          <li><a href="/usersession/logout">로그아웃 <span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>
      {% else %}
        <ul class="nav navbar-nav">
          <li><a href="/posts/notice">공지사항</a></li>
          <li><a href="/holidays">휴가신청</a></li>
          <li><a href="/receipts">비용정산</a></li>
          <li><a href="/rooms">회의실</a></li>
          <li><a href="/rooms?type=focus">포커스룸</a></li>
          <li><a href="http://htms.himgt.net" target="_blank">급여관리</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if isUserManager %}
            <li><a href="/users/list"><span class="glyphicon glyphicon-list"></span>회원목록</a></li>
          {% endif %}
          <li><a href="/usersession/logout"><span class="glyphicon glyphicon-log-out"></span>로그아웃</a></li>
        </ul>
      {% endif %}
    </nav>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div style="height: 70px;" class="hidden_on_print">
</div>
{% block body %}
{% endblock %}
</body>
</html>
