<!DOCTYPE html>
<html lang="en">
<head>
  <title>RIDI Coporation</title>

  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/jquery.form.js"></script>
  <script type="text/javascript" src="/lib/dhtmlxScheduler/dhtmlxscheduler.js"></script>
  <script type="text/javascript" src="/lib/dhtmlxScheduler/locale.js"></script>
  <link rel="stylesheet" type="text/css" href="/lib/dhtmlxScheduler/skin/dhtmlxscheduler.css"/>

  <style>
    body, div, td, p {
      font-size: 12px;
    }

    body {
      width: 100%;
    }

    thead td {
      background-color: #888;
      color: #eee;
    }

    tbody td {
      text-align: right;
      padding-left: 10px;
      border-bottom: 1px solid #ddd;
    }
  </style>

  <script>
    $(function () {
      $('.box').each(function () {
        var _this = $(this);
        var d = 10;
        var color = '#e77';

        if (_this.hasClass('_1'))
          d = 30;
        else if (_this.hasClass('_2'))
          d = 20;

        if (_this.hasClass('_blue'))
          color = '#77e';
        else if (_this.hasClass('_green'))
          color = '#7e7';

        var dL = d + parseInt(_this.css('padding-left'));
        var dT = d + parseInt(_this.css('padding-top'));

        obj = $('<div />')
          .css('position', 'absolute')
          .css('border', '0px')
          .css('margin-left', '-' + dL + 'px')
          .css('margin-top', '-' + dT + 'px')
          .css('width', d + 'px')
          .css('height', (d * 2) + 'px')
          .css('background-color', color);
        _this.prepend(obj);
        obj = obj.clone()
          .css('margin-left', '0px')
          .css('margin-top', '-' + dT + 'px')
          .css('margin-left', '-' + _this.css('padding-left'))
          .css('width', d + 'px')
          .css('height', d + 'px');
        _this.prepend(obj);
        _this.css('border', '1px solid ' + color);
      });
      $(document).on('submit', 'form[target]', function (e) {
        var _this = $(this);
        var target = _this.attr('target');

        if (!target || !target.length)
          return;

        /*            e.preventDefault();*/
        _this.ajaxSubmit({
          success: function (ret) {
            if (ret == '1') {
              var message = _this.attr('message');
              if (message && message.length)
                alert(message);
              location.href = target;
            }
            else
              alert(ret);
          }
        });
      });
      $(document).on('click', '[prompt]', function (e) {
        /*            e.preventDefault();*/

        var _this = $(this);
        var input = prompt(_this.attr('prompt'));
        if (input == null || input == "")
          return;
        var url = _this.attr('href');
        var arg = _this.attr('arg');

        $.post(url, {arg: arg, input: input}, function (ret) {
          if (ret == '1') {
            var message = _this.attr('message');
            if (message && message.length)
              alert(message);
            var action = _this.attr('action');
            location.href = action;
          }
          else
            alert(ret);
        });
      });
      $(document).on('click', '[confirm]', function (e) {
        /*            e.preventDefault();*/

        var _this = $(this);
        if (!confirm(_this.attr('confirm')))
          return;
        var url = _this.attr('href');
        var arg = _this.attr('arg');

        $.post(url, {arg: arg}, function (ret) {
          if (ret == '1') {
            var message = _this.attr('message');
            if (message && message.length)
              alert(message);
            var action = _this.attr('action');
            location.href = action;
          }
          else
            alert(ret);
        });
      });
      $(document).on('click', '[popup]', function (e) {
        /*            e.preventDefault();*/

        $("<div/>").appendTo('body').dialog({
          height: 140, modal: true
        });
      });
      $(document)
        .on('click', '[href]:not([prompt]):not([confirm]):not(a,form)', function (e) {
          location.href = $(this).attr('href');
          return false;
        });
    });
  </script>
</head>
<body>
{% block body %}
  {% if isAdmin %}
    <div id='admin' class='box _2' style='margin:auto auto;margin-top:100px;width:150px;bottom:100px;'>
      <a href='?users.lists'>직원목록</a>
      <a href='?users.groups'>그룹목록</a>
      <a href='?users.perms'>권한목록</a>
    </div>
  {% else %}
    Hi!
  {% endif %}
{% endblock %}
</body>
</html>
