{% extends 'ridi.twig' %}

{% block head %}
  {{ parent() }}
  <script type="text/javascript" src="http://jqueryte.com/js/jquery-te-1.4.0.min.js"></script>
  <link type="text/css" rel="stylesheet" href="http://jqueryte.com/css/jquery-te.css" charset="utf-8">

  <script>
    $(function () {
      $("#js-textarea").jqte();
    });
  </script>
  <style>
    .jqte {
      margin: 0;
      border: 0;
    }

    .jqte_tool_1 .jqte_tool_label {
      height: 20px !important;
    }
  </style>
{% endblock %}

{% block body %}
  <form
    attrajax
    data-aa-method='post'
    data-aa-onsuccess="refresh"
    data-aa-onsuccess-alert
    data-aa-onfail-alert
  >
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <input name="title" type="text" class="form-control" placeholder="제목" aria-describedby="basic-addon2"
                     value="{{ title | escape('html_attr') }}"
              >
            </div>
            <div class="panel-body" style="padding: 0;">
              <textarea id="js-textarea" name="content_html" class="form-control" placeholder="본문"
                        style="height: 400px;">{{ content_html }}</textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-7">
          <a href="/posts/{{ group }}">
            <button class="btn" type="button">
              목록으로
            </button>
          </a>
        </div>

        <div class="col-xs-1">
          {% block button %}
            <input type="submit" class="btn btn-primary" value="등록하기"/>
          {% endblock %}
        </div>
      </div>
    </div>
  </form>
{% endblock %}
